/* 
    Document   : custom
    Created on : 03.03.2012, 21:53:10
    Author     : Yama
    Description: A.T.S.P custom CSS code.
*/

@font-face {
    font-family: micro;
    src: url(fonts/micro.ttf);
}

@media (min-width: 768px) {
    body {
        padding-top: 70px;
        background-image: url(bg.jpg);
        background-size: 20%;
        background-attachment: fixed;
        background-origin: content;
        background-repeat: repeat;
    }
}

.banner {
    font-family: micro;
    color: #f0ad4e !important;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.render {
    padding: 15px;
}

/* It sucks to be only able to click on the text on the panels*/
[data-toggle=collapse] {
    cursor: pointer;
}

/* hover
-------------------------------------------------- */
a:hover {
    color:#0073ff;
    text-shadow:0px 0px 4px #1988ff;
    text-decoration:none;
    transition:text-shadow 0.3s ease-in-out;
}
* > a {
    transition: text-shadow 0.3s ease-in-out;
}
.btn:hover {
    text-decoration:none;
    text-shadow:0px 0px 0px rgba(0%,0%,0%,0);
    cursor:default;
}

 /* Hover: Pointer
-------------------------------------------------- */
h1:hover, h2:hover, h3:hover, .alert:hover, .label:hover {
    cursor:default;
}


/*Bottom Bar
-------------------------------------------------- */
#bottombar {
    position: fixed;
    z-index: 100;
    bottom: -30px;
    left: 0;
    width: 100%;
    transition-property: bottom;
    transition-duration: 3s;

    color: #989898;
    background-color: black;
    box-shadow: 0px -5px 7px 0px rgba(0,0,255,0.70);
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    opacity: .85;
}
