/* Colors */
.color_green {
    color: green !important;
}
.color_blue {
    color: midnightblue !important;
}
.color_red {
    color: red !important;
}
.color_orange {
    color: darkorange !important;
}
.color_black {
    color: black !important;
}

/* Desktop Menu */
.ui.sticky {
    width: 70% !important;
    margin-bottom: 4%;
}
.ui.sticky.bound.bottom,
.ui.sticky.fixed.bottom {
    bottom: auto !important;
}
         
/* Mobile Menu */
.ui.menu {
    margin: 0 0;
}

/* Dashboard player statistics */
.playerstatistics {
    width: 1000px;
    height: 320px;
    border:none;
    transform: scale(0.9);
    margin-left: -65px
}

/* Footer */
.footer.segment {
    padding: 5em 0em;
}
.pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main {
    flex: 1;
}
