{% extends 'layout.html' %}
            {% block content %}
            <div class="thirteen wide column main">
                <h1 class="ui teal dividing header">
                    <i class="shopping bag icon"></i>
                    <div class="content">{{ p_list }}'s Inventory
                        <div class="sub header">{{ name }}</div>
                    </div>
                </h1>
                {%- if inv %}
                <h3><i class="user icon"></i>{{ p_list }} <i class="heart icon"></i>{{ inv['health'] }} <i class="star icon"></i>{{ inv['mana'] }} <i class="users icon"></i>{{ inv['group'] }}</h3>
                <div class="ui segment">
                    <div class="ui blue top attached label">Inventory</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['inv'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui yellow top attached label">Coins</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['coins'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui olive top attached label">Ammo</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['ammo'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui black top attached label">Armor</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['armor'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui teal top attached label">Vanity Armor</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['vanity'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui pink top attached label">Dye</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['dye'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui green top attached label">Equipment</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['equipment'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui purple top attached label">Equipment Dye</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['eqdye'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui red top attached label">Piggy Bank</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['piggy'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui grey top attached label">Safe</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['safe'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui brown top attached label">Forge</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['forge'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui orange top attached label">Void</div>
                    <div class="ui ten column very compact grid">
                    {%- for item in inv['inv']['void'] %}
                        <div class="column">
                        {%- if item != 0 %}
                            <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                                <img src="items/Item_{{ item[2] }}.png">
                                <div class="ui floating circular label">{{ item[3] }}</div>
                            </div>
                        {%- endif %}
                        </div>
                    {%- endfor %}
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui grey top attached label">Trash</div>
                    <div class="ui ten column very compact grid">
                    {%- set item = inv['inv']['trash'] %}
                        <div class="column">
                    {%- if item != 0 %}
                        <div class="ui center aligned basic segment" data-tooltip="{{ item[0] }} {{ item[1] }}">
                            <img src="items/Item_{{ item[2] }}.png">
                            <div class="ui floating circular label">{{ item[3] }}</div>
                        </div>
                    {%- endif %}
                    </div>
                </div>
                {%- endif %}
            </div>
        </div>
        <br>
        {%- endblock %}
