<a class="item" target="_blank" href="https://s.yamahi.eu/forum"><i class="tasks icon"></i> Steam Forum</a>
<a class="item" target="_blank" href="https://s.yamahi.eu/steam"><i class="steam icon"></i> Steam Group</a>
<a class="item" target="_blank" href="https://s.yamahi.eu/chat"><i class="talk outline icon"></i> Discord Chat</a>
<a class="item" target="_blank" href="https://youtube.com/c/AdventureTerrariaServerProject"><i class="youtube icon"></i> Youtube</a>
<a class="item" target="_blank" href="http://tshock.co/xf/index.php?threads/dedicated-ssi-plugins-24-7-adventure-terraria-server-project-a-t-s-p.1687/"><i class="external icon"></i> tShock</a>
<a class="item" target="_blank" href="https://s.yamahi.eu/vote2"><i class="thumbs up icon"></i> TServerWeb</a>
<a class="item" target="_blank" href="https://s.yamahi.eu/vote"><i class="thumbs up icon"></i>Terraria Servers</a>
